.wrapper {
  height: 100vh;
  width: 100%;
  background-image: url("/images/background2.jpg");
  object-fit: cover;
  overflow: scroll;
}

.error-message {
  width: 100%;
  position: relative;
  top: 60px;
  font-size: 20px;
  text-align: center;
  color: white;
  background-color: red;
}

.input-meigen-container {
  width: 50%;
  margin: 0 auto;
  padding: 0 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 10px solid #778899;
  position: relative;
  top: 10vh;
  overflow: scroll;
  &__header {
    h1 {
      font-weight: bold;
      font-size: 30px;
      text-align: center;
    }
    &__information {
      float: left;
      width: 100%;
      font-size: 20px;
      margin-bottom: 10px;
      ul {
        li {
          margin-right:20px;
          float: left;
        }
      }
    }
  }
  &__content {
    font-size: 20px;
    @include clearfix();
    &__left {
      float: left;
      width: calc(30% - 15px);
      margin-right: 15px;
      h1 {
        font-size: 20px;
      }
      &__image {
        &__preview {
          text-align: center;
          p {
            font-size: 12px;
          }
          img {
            width: 100%;
          }
        }
        h2 {
          font-size: 15px;
          text-align: center;
        }
        position: relative;
        .camera-cursor {
          position: absolute;
          top: -23px;
          left: 135px;
          &:hover {
            cursor: pointer;
            color: blue;
          }
        }
        .hidden {
          display: none;
        }
      }
    }
    &__right {
      float: right;
      width: 70%;
      &__text {
        span {
          color: red;
          font-size: 15px;
        }
        &--style {
          height: 150px;
          width: 90%;
          border: 5px solid #8da0b6;
          padding: 0 1vw;
          position: relative;
          display: inline-block;
          font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
          font-size: 20px;
        }
      }
      &__source {
        span {
          color: red;
          font-size: 15px;
        }
        &--style {
          width: 90%;
          border: 5px solid #8da0b6;
          padding: 0 1vw;
          position: relative;
          display: inline-block;
          font-size: 20px;
        }
      }
      &__scene {
        &--style {
          height: 120px;
          width: 90%;
          border: 5px solid #8da0b6;
          padding: 0 1vw;
          position: relative;
          display: inline-block;
          font-size: 20px;
        }
      }
      &__tag {
        &--style {
          width: 90%;
          border: 5px solid #8da0b6;
          padding: 0 1vw;
          position: relative;
          display: inline-block;
          font-size: 20px;
        }
      }
    }
  }

  &__submit-btn {
    background-color: #4169e1;
    color: white;
    font-size: 20px;
    border-radius: 4px;
    margin: 15px 40%;
    padding: 5px 15px;
    border: none;
    box-shadow: 3px 3px #000080;
    outline: none;
    &:active {
      position: relative;
      top: 3px;
      left: 3px;
      box-shadow: none;
    }
  }

  &__footer {
    @include clearfix();
    margin-bottom: 5px;
    ul {
      li {
        float: left;
        margin-right: 20px;
      }
    }
  }
}
