.meigen-show-container__comment-box__index__items{class: "comment-id-#{comment.id}"}
  .meigen-show-container__comment-box__index__items__left
    %p
      = comment.user.name
      ：
  .meigen-show-container__comment-box__index__items__center
    %p
      = simple_format(comment.content)
  - if comment.user_id == current_user.id
    = link_to meigen_comment_path(comment.meigen_id, comment.id), method: :delete, remote: true, class: "delete-cross" do
      %i.fas.fa-times
