.wrapper-for-meigen-index
  //background-image: https://www.toptal.com/designers/subtlepatterns/notebook/
  = render partial: "shared/display_products", locals: { meigens: @meigens }

  .pagination-footer
    = paginate(@meigens)
