
.intro-container
  = video_tag 'Time-Lapse-Video-Of-Sunrise-By-The-Sea.webm', autoplay: true, loop: true, muted: true, class: 'intro-container--movie'
  .intro-container__message
    %p 名言を自分のものにする
  = link_to meigens_path do
    .meigen-list-link
      投稿一覧へ
