
.intro-container
  = video_tag 'Time-Lapse-Video-Of-Sunrise-By-The-Sea.webm', autoplay: true, loop: true, muted: true, class: 'intro-container--movie'
  .intro-container__message
    %p 名言を自分のものにする
  = link_to meigens_path do
    .meigen-list-link
      投稿一覧へ

.about-container
  .about-container__explanation
    .about-container__explanation__subject#about
      %h1 [WIP]とは
      %p このサービスの説明文が２行くらい入ります。
      %p このサービスの説明文が２行くらい入ります。
  .about-container__details-container
    .about-container__details-container__box
      .fas.fa-circle.wrapper-icon
      .about-container__details-container__box__icon
        .fas.fa-chess-knight.icon
      %h2 特徴
      %p 今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。
    .about-container__details-container__box
      .fas.fa-circle.wrapper-icon
      .about-container__details-container__box__icon
        .fas.fa-balance-scale.icon
      %h2 ミッション
      %p 今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。
    .about-container__details-container__box
      .fas.fa-circle.wrapper-icon
      .about-container__details-container__box__icon
        .fab.fa-leanpub.icon
      %h2 経緯
      %p 今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。今度考えます。
