.about-container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding-top:150px;
  background: linear-gradient( #9941D8, #1D62F0);
  // background: linent(#05FBFF, #1D62F0 )

  &__explanation {
    @include clearfix();
    text-align: center;
    padding: 0 25vw 10px 25vw;
    h1 {
      font-weight: bold;
      font-size: 40px;
    }

    .logo {
      float: left;
      font-size: 50px;
      position: absolute;
      left: 33vw;
    }

    &__subject {
      float:left;
      width: 50vw;
      position: relative;
    }
  }

  &__details-container {
    padding:  30px 5px 0;
    position: relative;
    @include clearfix();
    &__box {
      box-sizing: border-box;
      height: 500px;
      width: 33vw;
      float: left;
      text-align: center;
      color: white;
      padding: 100px 1.25vw 0;
      position: relative;
      .wrapper-icon {
        position: absolute;
        top: 0;
        left: 40%;
        font-size: 100px;
        color: #FFFF00;
      }
      &__icon {
        width: 100px;
        position: absolute;
        top: 15px;
        left: 40%;
        text-align: center;
        .icon {
          font-size: 70px;
          color: white;
        }
      }
      h2 {
          font-size: 30px;
      }
    }
  }
}
