.wrapper-for-meigen-index {
  padding-top: 70px;
  width: 100%;
  height: calc(100vh - 130px);
  background-image: url("/images/notebook_@2X.png");
  // https://www.toptal.com/designers/subtlepatterns/notebook/
  background-attachment: fixed;
  background-position: right bottom;
  overflow: scroll;

  .my-page-header {
    width: 50vh;
    margin: 0 auto;
    background: linear-gradient(90deg, #4b79a1, #283e51) fixed;
    text-align: center;
    font-size: 25px;
    @include clearfix();
    h1{
      color: white;
    }
    ul {
      @include clearfix();
      width: 100%;
      li {
        float: left;
        width: 40%;
        font-size: 20px;
        padding: 0 5%;
        a {
          @include link-style();
          color: white;
        }
      }
      #point-column {
        width: 100%;
        padding: 0;
      }
    }
    &__remain-point {
      color: white;
      font-size: 15px;
    }
  }



  .meigen-container {
    width: 40vw;
    margin: 0 auto;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.3);

    &__header {
      @include clearfix();
      margin-top: 10px;
      padding-top: 5px;
      &--information {
        float: left;
        ul {
          li {
            margin-right:20px;
            float: left;
          }
        }
      }
      &--access-detail {
        float: right;
        width: 10%;
        height: 30px;
        text-align: center;
        img {
          width: 20px;
          transform: rotate( 90deg );
        }
      }
    }
    &__content {
      min-height: 220px;
      width: 100%;
      padding-top: 10px;
      &__left-content {
        float: left;
        width: 20%;
        text-align: center;
        &__source {
          width: 100%;
        }
        img {
          width: 100%;
          border: 5px solid #8da0b6;
        }
        &__tag {
          display: inline-block;
          background-color: #005C97;
          color: white;
          font-size: 15px;
          border-radius: 4px;
          padding: 0 2px;
          margin-bottom: 4px;
          border: none;
          outline: none;
        }
      }
      &__right-content {
        @include clearfix();
        float: right;
        width: calc(100% - 117px);
        &__meigen {
          float: right;
          min-height: 200px;
          width: 80%;
          border: 10px solid #8da0b6;
          padding: 0 1vw;
          position: relative;
          display: inline-block;
          font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
          font-size: 25px;
          &:before {
            content: "";
            position: absolute;
            top: 15%;
            right: calc(100% + 5px);
            margin-top: -15px;
            border: 15px solid transparent;
            border-right: 20px solid #8da0b6;
          }
        }
      }
    }

    &__sns-function-bar {
      width: 100%;
      clear: both;
      @include clearfix();
      &__box {
        float: right;
        display: inline-block;
        ul {
          li {
            margin-right:20px;
            float: left;
            a {
              @include link-style();
              padding-right: 3px;
              .already-like {
                color: #ff6347;
              }
              .not-yet-like {
                color: black;
              }
            }
          }
        }
      }
    }

    &__scene-displayer {
      width: 100%;
      text-align: center;
      &:hover {
        cursor: pointer;
      }
    }

    &__scene-container {
      @include clearfix();
      width: 40vw;
      margin: 0 auto 10px;
      padding-bottom: 10px;
      &__left-content {
        float: left;
        line-height: 50px;
        font-size: 30px;
        width: 70px;
      }
      &__right-content {
        float: right;
        width: calc(100% - 97px);
        margin-right: 8px;
        &__scene {
            height: 100px;
            width: 90%;
            border: 10px solid #8da0b6;
            padding: 0 1vw;
        }
      }
    }
  }
}
